.titre-global {
  font-family: Comfortaa, sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 0 25px 20px;
}

@media screen and (max-width: 1100px) {
  .titre-global {
    font-size: 60px;
  }
}
@media screen and (max-width: 850px) {
  .titre-global {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .titre-global {
    font-size: 35px;
    padding: 10px 5px;
  }
}
.choix, .liste-media, footer, .container-faq, .container-boxs, .accueil, nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  font-size: 30px;
  padding-left: 20px;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 5px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

nav li a:hover::after {
  transform: scaleX(1);
}

.logo-nav {
  font-size: 30px;
  padding-left: 20px;
}

.lien-essai {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(45deg, #8a56eb, rgb(50, 151, 168));
}

.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .responsive-nav-btn {
    display: block;
  }
  nav {
    justify-content: center;
    flex-direction: column;
    height: auto;
    position: absolute;
    top: -5px;
    border-bottom: 1px solid #000;
  }
  nav ul {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    display: none;
  }
  .logo-nav {
    padding-left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }
  nav ul li {
    height: 70px;
    line-height: 70px;
  }
  .lien-essai {
    display: none;
  }
  .active-nav {
    display: flex;
  }
}
.container-global {
  padding-bottom: 40px;
}

.accueil {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sous-titre {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.accueil img {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .accueil {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .accueil img {
    width: 700px;
  }
  .sous-titre {
    font-size: 27px;
  }
}
@media screen and (max-width: 950px) {
  .accueil {
    padding-top: 100px;
  }
}
@media screen and (max-width: 750px) {
  .accueil img {
    width: 500px;
  }
  .sous-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    padding-top: 80px;
  }
  .accueil img {
    width: 400px;
  }
  .sous-titre {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .accueil {
    padding-top: 90px;
  }
  .accueil img {
    width: 320px;
  }
}
.container-performances {
  color: #f1f1f1;
  padding: 120px 20px 170px;
  height: fit-content;
  margin-bottom: 30px;
  background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%), linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%, rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%, rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%, rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%, rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%), linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%, rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%, rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%, rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%), linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%, rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%, rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%, rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%), linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%, rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%, rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%, rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%), linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%), linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%), linear-gradient(90deg, rgb(168, 1, 206), rgb(20, 120, 203));
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 82%);
}

.separation-home {
  margin: 0 auto 40px;
  height: 2px;
  width: 20%;
  background-repeat: 3px;
  background: #f1f1f1;
  border: none;
}

.container-boxs {
  width: 100%;
}

.box {
  margin: 0 50px;
}

.box p {
  text-align: center;
}

.nombre-clients {
  font-size: 85px;
  padding-bottom: 10px;
}

.type-de-clients {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.info-clients {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .nombre-clients {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .container-boxs {
    flex-direction: column;
  }
  .box {
    margin: 20px 0;
  }
  .separation {
    margin: 0 auto 30px;
    width: 30%;
  }
  .nombre-clients {
    font-size: 80px;
  }
  .type-de-clients {
    font-size: 25px;
  }
  .info-clients {
    width: 100%;
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .nombre-clients {
    font-size: 50px;
  }
  .type-de-clients {
    font-size: 22px;
  }
  .info-clients {
    width: 100%;
    font-size: 20px;
  }
}
.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 300px;
  height: auto;
  margin: 10px auto 150px;
  flex-direction: column;
}

.questions {
  width: 100%;
  height: auto;
  margin: 5px;
}

.panneau-visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  position: relative;
  z-index: 100;
}

.titre-question {
  margin-left: 10px;
  padding: 15px 5px;
  font-size: 25px;
}

.panneau-visible img {
  margin-right: 10px;
  width: 25px;
  cursor: pointer;
}

.toggle-pannel {
  padding: 0 15px;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.toggle-pannel h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.toggle-pannel p {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 750px) {
  .container-faq {
    width: 90%;
    margin-bottom: 25px;
  }
  .titre-question {
    margin-left: 10px;
    font-size: 18px;
  }
}
.container-cta {
  color: #f1f1f1;
  padding: 150px 0 100px;
  clip-path: polygon(0 17%, 100% 0%, 100% 82%, 0 100%);
  background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%), linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%, rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%, rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%, rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%, rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%), linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%, rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%, rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%, rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%), linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%, rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%, rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%, rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%), linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%, rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%, rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%, rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%), linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%), linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%), linear-gradient(90deg, rgb(168, 1, 206), rgb(20, 120, 203));
}

.txt-cta {
  text-align: center;
  font-size: 22px;
  padding: 0 10px;
}

.btn-appel {
  display: block;
  color: #f1f1f1;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin: 30px auto 0;
  width: 250px;
  padding: 20px;
  border-radius: 9999px;
  background: #8a56eb;
}

@media screen and (max-width: 750px) {
  .txt-cta {
    font-size: 18px;
  }
  .btn-appel {
    width: 200px;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  border-top: 1px dashed #000;
  background-color: #f1f1f1;
  color: #333;
  flex-direction: column;
}

.bloc {
  min-width: 300px;
}

footer-contact h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

footer p {
  font-style: 22px;
  line-height: 1.4;
}

.liste-media img {
  width: 40px;
  margin: 10px;
}

.container-global-fonctionnalites {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
  justify-content: center;
  height: fit-content;
}

@media screen and (max-width: 1100px) {
  .container-global-fonctionnalites {
    gap: 80px;
  }
}
@media screen and (max-width: 800px) {
  .container-global-fonctionnalites {
    gap: 50px;
  }
}
.sous-titre-fonctionnalites {
  text-align: center;
  font-size: 24px;
}

.container-btn-accueil {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.btn-fonctionnalites {
  display: block;
  width: 200px;
  padding: 15px;
  background-color: #8a56eb;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  margin: 0 10px;
}

.fantome {
  border: 2px solid #8a56eb;
  background-color: transparent;
  color: #8a56eb;
}

.liste-media li {
  list-style-type: none;
}

.footer-medias p {
  margin: 0;
}

@media screen and (max-width: 950px) {
  .hero-title {
    margin-top: 70px;
  }
}
@media screen and (max-width: 700px) {
  .hero-title p {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .container-btn-accueil {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
.container-fonctionnalites {
  width: 90%;
  max-width: 1300px;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.box-fonctionnalites {
  display: flex;
}

.gauche-img {
  font-size: 50px;
  padding: 5px;
}

.droite-txt p:nth-of-type(1) {
  font-weight: 600;
  font-size: 35px;
}

.droite-txt p:nth-of-type(2) {
  font-size: 25px;
  line-height: 1.2;
}

.droite-txt p {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .container-fonctionnalites {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .container-fonctionnalites {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sous-titre-newsletter {
  font-size: 27px;
  text-align: center;
  margin: 0 0 50px;
}

form {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

form input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: 1px solid #000;
  border-radius: 9999px;
}

form button {
  width: 200px;
  position: absolute;
  right: 0;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 9999px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .sous-titre-newsletter {
    font-size: 20px;
  }
  form button {
    width: 125px;
    font-size: 17px;
  }
  form input {
    font-size: 17px;
  }
}
.container-call-to-action-fonctionnalites {
  display: block;
  width: 100%;
}

.galerie-txt-pics {
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
}

.separation-fonctionnalites {
  margin-bottom: 20px;
  border: none;
  height: 2px;
  background-color: #000;
  width: 40%;
  margin-bottom: 80px;
}

.galerie-txt-description-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 2vw;
}

.galerie-txt-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.txt-box-galerie p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
}

.txt-box-galerie p:nth-child(3) {
  margin-bottom: 10px;
  font-size: 25px;
}

.txt-box-galerie p:nth-child(4) {
  margin-bottom: 18px;
  font-size: 20px;
}

.txt-box-galerie a {
  color: #8a56eb;
  text-decoration: none;
}

.underline-violet {
  border: none;
  height: 2px;
  background-color: #8a56eb;
  width: 30%;
  text-align: right;
  margin-left: auto;
  display: inline-block;
}

.txt-box-img {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1100px) {
  .galerie-txt-description {
    flex-direction: column;
  }
  .inversion img {
    order: 10;
  }
  .separation-fonctionnalites {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .txt-box-galerie {
    text-align: center;
    width: 70%;
  }
  .galerie-txt-description img {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .txt-box-galerie {
    text-align: center;
    width: 90%;
  }
  .galerie-txt-description img {
    width: 90%;
    height: 200px;
  }
  .galerie-txt-description {
    gap: 15px;
  }
}
footer {
  position: static;
}

.container-global-tarifs {
  display: flex;
  flex-direction: column;
}

.titre-tarifs {
  margin-top: 80px;
}

.separation {
  border: none;
  height: 2px;
  background-color: #000;
  margin-bottom: 60px;
  width: 20%;
}

.container-tableau {
  margin: 0 auto;
  width: 60%;
  max-width: 1100px;
  min-width: 300px;
  height: auto;
}

.choix-tarifs {
  margin: 0 auto;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.choix {
  font-family: "Comfortaa", sans-serif;
  height: 100%;
  width: 170px;
  outline: none;
  border: none;
  font-size: 30px;
  letter-spacing: 3px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.choix:nth-child(1) {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}

.choix:nth-child(2) {
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}

.choix:nth-child(3) {
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.2);
}

.choix.active-choix {
  background-color: #fff;
  color: #000;
}

.tableau {
  border-collapse: collapse;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: #f1f1f1;
  background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%), linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%, rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%, rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%, rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%, rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%), linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%, rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%, rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%, rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%), linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%, rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%, rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%, rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%), linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%, rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%, rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%, rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%), linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%), linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%), linear-gradient(90deg, rgb(168, 1, 206), rgb(20, 120, 203));
}

th {
  font-size: 40px;
}

td,
th {
  border: 1px solid #fff;
  padding: 8px;
  vertical-align: middle;
  width: 50%;
}

td {
  padding-left: 15px;
}

.panneau {
  display: none;
}

.panneau-active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .container-tarifs {
    width: 90%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 900px) {
  .titre-tarifs {
    margin-top: 100px;
  }
  .container-tarifs {
    width: 95%;
  }
  .choix-tarifs {
    height: 100px;
  }
  .choix {
    width: 155px;
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .container-tarifs {
    width: 300px;
  }
  .choix-tarifs {
    height: 75px;
  }
  .choix {
    width: 100px;
    font-size: 18px;
  }
  .tableau {
    height: 500px;
    font-size: 22px;
  }
  th {
    font-size: 30px;
  }
}
.container-call-to-action {
  padding: 150px 2vw;
}

@media screen and (max-width: 1400px) {
  .container-call-to-action {
    padding: 80px 2vw;
  }
}
@media screen and (max-width: 800px) {
  .container-call-to-action {
    padding: 40px 2vw;
  }
}

/*# sourceMappingURL=styles.css.map */
